<!-- static markdown -->
<div class="composer-container">
  <div class="header-info">
    <input type="text" id="blog-title" placeholder="Tựa đề hay gây chú ý cho người đọc" [(ngModel)]="newPost.title">
  </div>
  <div class="tag-info">
    <input type="text" id="blog tag" placeholder="Tag hay giúp bài viết dễ được tìm hơn" [(ngModel)]="newPost.description">
  </div>

  <div class="tag-info">
    <button (click)="setComposeType('both')">BOTH</button>
    <button (click)="setComposeType('composer')">COMPOSER</button>
    <button (click)="setComposeType('preview')">PREVIEW</button>


    <button (click)="submitNewPost()" style="float: right">PUBLISH</button>
  </div>
  <div class="composer-data">
    <div class="composer-editor" [class.display-full]="composeType==='composer'" [class.display-zero]="composeType==='preview'">
      <div class="composer-textarea">
        <textarea [(ngModel)]="newPost.content" id="composer" name="composer" placeholder="Write your post"></textarea>
      </div>
    </div>
    <div class="composer-preview" [class.display-full]="composeType==='preview'" [class.display-zero]="composeType==='composer'">
      <div ngPreserveWhitespaces markdown [data]="newPost.content" class="markdown">
      </div>
    </div>
  </div>
</div>
